/* VIOLET THEME */
/*:root {
  --head: rgb(192, 42, 192);
  --body: rgb(226, 172, 226);
  --today: rgb(192, 42, 192);
  --days: rgb(214, 140, 214);
}*/

/* BLUE THEME *//*
:root {
  --head: rgb(42, 112, 192);
  --body: rgb(220, 220, 220);
  --today: rgb(90, 159, 238);
  --days: rgb(190, 190, 190);
}*/

/* GREEN THEME */
:root {
  --head: rgb(19, 163, 0);
  --body: rgb(160, 247, 157);
  --today: rgb(72, 250, 66);
  --days: rgb(96, 146, 94);
}

.month i {
  font-size: 3rem;
  cursor: pointer;
}

.month h1 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.2rem;
}

.month p {
  font-size: 1.3rem;
}



.prev-date,
.next-date {
  opacity: 0.5;
  border-radius: 10px
}

.today {
  background-color: var(--today);
  border-radius: 10px
}

.days :hover {
  background-color: #FFF;
  border: 0.2rem solid rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 10px
}

.days div:hover:not(.today) {
  background-color: var(--days);
  border: 0.2rem solid #FFF;
  cursor: pointer;
  border-radius: 10px
}

@keyframes blink{
  from {opacity: 0;}
  20%{opacity: 1;}
  80%{opacity: 1;}
  to{opacity: 0;}
}

/*To Change*/
#left_side{
	float: left;
	width: 60%;
	padding: 3%;
}

#right_side{
	float: right;
	width: 40%;
  padding:5%;
}

.calendar {
  width: 100%;
  height: 660px;
  background-color: var(--body);
  border-radius: 25px
}

.month {
  width: 100%;
  height: 20%;
  background-color: var(--head);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  text-align: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  border-radius:  25px 25px 0px 0px
}

.weekdays {
  width: 100%;
  height: 5rem;
  padding: 0 0.4rem;
  display: flex;
  align-items: center;
}

.weekdays div {
  font-size: 150%;
  font-weight: 400;
  letter-spacing: 0.1rem;
  width: calc(100% / 7);
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.days {
  width: 105%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.2rem;
}

.days div {
  font-size: 1.4rem;
  margin: 0.3rem;
  width: 12.6%;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  transition: background-color 0.1s;
  border-radius: 10px
}

/*Change upto here*/

@media (max-width:2000px){
	#left_side{
    width: 60%;
    padding: 3%;
  }
  
  #right_side{
    width: 40%;
    padding:5%;
  }
  
  .calendar {
    width: 100%;
    height: 600px;
    border-radius: 25px;
  }
  
  .month {
    width: 100%;
    height: 20%;
    border-radius:  25px 25px 0px 0px
  }
  
  .weekdays {
    width: 100%;
    height: 5rem;
  }
  
  .weekdays div {
    font-size: 150%;
    width: calc(100% / 7);
  }
  
  .days {
    width: 105%;
  }
  
  .days div {
    margin: 0.3rem;
    width: 12%;
    height: 55px;
    border-radius: 10px;
  }
}

@media (max-width:1400px){
	#left_side{
    float: none;
    width: 90%;
    padding: 3%;
  }
  
  #right_side{
    float: none;
    width: 90%;
    padding:5%;
  }
  
  .calendar {
    width: 100%;
    height: 610px;
    border-radius: 20px;
  }
  
  .month {
    width: 100%;
    height: 20%;
    border-radius:  20px 20px 0px 0px
  }
  
  .weekdays {
    width: 100%;
    height: 5rem;
  }
  
  .weekdays div {
    font-size: 150%;
    font-weight: 400;
    width: calc(100% / 7);
  }
  
  .days {
    width: 105%;
  }
  
  .days div {
    margin: 0.3rem;
    width: 12.5%;
    height: 55px;
    border-radius: 10px;
  }
}

@media (max-width:1000px){
	#left_side{
    width: 90%;
    padding: 3%;
  }
  
  #right_side{
    width: 90%;
    padding:5%;
  }
  
  .days div {
    margin: 0.3rem;
    width: 12.25%;
    height: 55px;
    border-radius: 10px;
  }
}

@media (max-width:800px){
	#left_side{
    width: 90%;
    padding: 3%;
  }
  
  #right_side{
    width: 90%;
    padding:5%;
  }
  
  .days div {
    margin: 0.3rem;
    width: 11.5%;
    height: 55px;
    border-radius: 10px;
  }
}

@media (max-width:500px){
	#left_side{
    width: 90%;
    padding: 3%;
  }
  
  #right_side{
    width: 90%;
    padding:5%;
  }

  .calendar {
    width: 100%;
    height: 500px;
    border-radius: 10px;
  }
  
  .month {
    width: 100%;
    height: 20%;
    border-radius:  10px 10px 0px 0px
  }

  .weekdays div {
    font-size: 110%;
    font-weight: 400;
    width: calc(100% / 7);
  }
  
  .days div {
    margin: 0.3rem;
    width: 10.5%;
    height: 40px;
    border-radius: 10px;
  }
}

/* For POPUP */
.popup .overlay {
  position:fixed;
  top:0px;
  left:0px;
  width:100vw;
  height:100vh;
  background:rgba(0,0,0,0.7);
  z-index:1;
  display:none;
}
 
.popup .content {
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) scale(0);
  background:#fff;
  width:95%;
  max-width:500px;
  height:250px;
  z-index:2;
  text-align:center;
  padding:20px;
  box-sizing:border-box;
  font-family:"Open Sans",sans-serif;
}
 
.popup .close-btn {
  cursor:pointer;
  position:absolute;
  right:20px;
  top:20px;
  width:30px;
  height:30px;
  background:#222;
  color:#fff;
  font-size:25px;
  font-weight:600;
  line-height:30px;
  text-align:center;
  border-radius:50%;
}
 
.popup.active .overlay {
  display:block;
}
 
.popup.active .content {
  transition:all 500ms ease-in-out;
  transform:translate(-50%,-50%) scale(1);
}